<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>History</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The British Broadcasting Corporation (BBC) is the national broadcaster of the United Kingdom. <br>
        Headquartered at Broadcasting House in London, it is the world's oldest national broadcaster, and the <br>
        largest broadcaster in the world by number of employees, employing over 22,000 staff in total, of whom <br>
        approximately 19,000 are in public-sector broadcasting.<br>
        The BBC is established under a royal charter and operates under its agreement with the secretary of 
        state for digital, <br> culture, media and sport.[8] Its work is funded principally by an annual television 
        licence fee[9] which is charged to all British households, <br> companies, and organisations using any type 
        of equipment to receive or record live television broadcasts and iPlayer catch-up. The fee is <br> set 
        by the British Government, agreed by Parliament,[11] and is used to fund the BBC's radio, TV, and 
        online services covering the nations and <br> regions of the UK. Since 1 April 2014, it has also funded 
        the BBC World Service (launched in 1932 as the BBC Empire Service), which broadcasts in <br> 28 languages 
        and provides comprehensive TV, radio, and online services in Arabic and Persian.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Governance and corporate structure</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list lines="inset">
    <ion-item>
      <ion-label>The BBC is a statutory corporation, independent from direct government intervention, with its activities 
        being overseen from April 2017 by the BBC Board and regulated by Ofcom. The chairman is Sir David Clementi.
        </ion-label>

