<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header> EXPLORE BBC </ion-list-header>
        <ion-menu-toggle auto-hide="false">
          <ion-item button>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label> Home </ion-label>
          </ion-item>

          <ion-item button>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label> About </ion-label>
          </ion-item> 

          <ion-item button>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label> Contact Us </ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      <h1>BBC</h1>
      <p>Click the icon in the top left to toggle the menu.</p>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>LATEST NEWS</ion-card-subtitle>
          <ion-card-title>1 USD = 59 PHP</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          In July, almost a month after the peso started depreciating swiftly after hitting 53:$1 on 
          June 10, Finance Secretary Benjamin Diokno said the public should not feel concerned yet with the peso depreciation.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item href="#" class="ion-activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-item>
      
        <ion-item href="#">
          <ion-icon name="wine" slot="start"></ion-icon>
          <ion-label>Sports</ion-label>
        </ion-item>
      
        <ion-item class="ion-activated">
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Alerts</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label>Fitness & Wellness</ion-label>
        </ion-item>
      </ion-card>
    </ion-content>
</ion-app>
